doctype html
html
  head
    title Simply Sudoku
    link(rel="stylesheet", href="styles.css")
  body
    h1 Simply Sudoku
    nav#navbar
      .navitem
        a Difficulty
      .navitem
        a Generate Board
    #gameboard
      .row
        #0.cell
          .content
        #1.cell
          .content
        #2.cell
          .content
        #3.cell
          .content
        #4.cell
          .content
        #5.cell
          .content
        #6.cell
          .content
        #7.cell
          .content
        #8.cell
          .content
      .row
        #9.cell
          .content
        #10.cell
          .content
        #11.cell
          .content
        #12.cell
          .content
        #13.cell
          .content
        #14.cell
          .content
        #15.cell
          .content
        #16.cell
          .content
        #17.cell
          .content
      .row
        #18.cell
          .content
        #19.cell
          .content
        #20.cell
          .content
        #21.cell
          .content
        #22.cell
          .content
        #23.cell
          .content
        #24.cell
          .content
        #25.cell
          .content
        #26.cell
          .content
      .row
        #27.cell
          .content
        #28.cell
          .content
        #29.cell
          .content
        #30.cell
          .content
        #31.cell
          .content
        #32.cell
          .content
        #33.cell
          .content
        #34.cell
          .content
        #35.cell
          .content
      .row
        #36.cell
          .content
        #37.cell
          .content
        #38.cell
          .content
        #39.cell
          .content
        #40.cell
          .content
        #41.cell
          .content
        #42.cell
          .content
        #43.cell
          .content
        #44.cell
          .content
      .row
        #45.cell
          .content
        #46.cell
          .content
        #47.cell
          .content
        #48.cell
          .content
        #49.cell
          .content
        #50.cell
          .content
        #51.cell
          .content
        #52.cell
          .content
        #53.cell
          .content
      .row
        #54.cell
          .content
        #55.cell
          .content
        #56.cell
          .content
        #57.cell
          .content
        #58.cell
          .content
        #59.cell
          .content
        #60.cell
          .content
        #61.cell
          .content
        #62.cell
          .content
      .row
        #63.cell
          .content
        #64.cell
          .content
        #65.cell
          .content
        #66.cell
          .content
        #67.cell
          .content
        #68.cell
          .content
        #69.cell
          .content
        #70.cell
          .content
        #71.cell
          .content
      .row
        #72.cell
          .content
        #73.cell
          .content
        #74.cell
          .content
        #75.cell
          .content
        #76.cell
          .content
        #77.cell
          .content
        #78.cell
          .content
        #79.cell
          .content
        #80.cell
          .content
    script(src="build.js")
