doctype html
html
  head
    title Simply Sudoku
    link(rel="stylesheet", href="styles.css")
  body
    h1 Simply Sudoku
    #gameboard
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
      .row
        .cell
          .content 1
        .cell
          .content 2
        .cell
          .content 3
        .cell
          .content 4
        .cell
          .content 5
        .cell
          .content 6
        .cell
          .content 7
        .cell
          .content 8
        .cell
          .content 9
    script(src="build.js")
